
body {
    background-color: rgb(246, 220, 220);
  }

  
  h1 {
    color: navy;
    margin-left: 20px;
  }


  h2{
      margin-left:25px;
      color:#cc4158
  }


  h3{
      width: 600px;
     
  }
  /* Add a black background color to the top navigation */
 .topnav {
    overflow:hidden;
    background-color: rgb(224, 173, 173);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #cc4158;
    color: white;
  }
  
  /* Add an active class to highlight the current page 
  .topnav a.active {
    background-color: #cc4158;
    color: white;
  }*/
  
  

  /*new bar chart*/



  .chart-wrap {
      padding: 40px;
    /*margin-left: 420px;*/
    width: 550px;
    height: 300px;
    font-family: sans-serif;
  }
 
  .grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid #aaa;
    background: repeating-linear-gradient(0deg, transparent, transparent 19.5%, rgba(170, 170, 170, 0.7) 20%);
  }
  .grid .bar {
    align-self: flex-end;
    margin: 0 auto;
    border-radius: 3px 3px 0 0;
    position: relative;
  }
  .grid .bar.bar:hover {
    opacity: 0.7;
  }
  .grid .bar::after {
    content: attr(data-name);
    top: -3em;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    transform: rotate(-45deg);
  }
  .grid.horizontal {
    flex-direction: column;
    width: 500px;
    border-bottom: none;
    border-left: 2px solid #aaa;
    background: repeating-linear-gradient(90deg, transparent, transparent 19.5%, rgba(170, 170, 170, 0.7) 20%);
  }
  .grid.horizontal .bar {
    height: 50px;
    width: 3px;
    align-self: flex-start;
    margin: auto 0 auto 0;
    border-radius: 0 3px 3px 0;
  }

  .grid.horizontal .bar::after {
    top: initial;
    left: 100%;
    padding: 0 10px;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    transform: rotate(0deg);
    line-height: 45px;
  }

  
  #cough_symptoms { background-color: #04AA6D;} /* Green */
  #Fever_symptoms { background-color: #2196F3;} /* Blue */
  #Sore_Throat_symptoms { background-color: #f44336;} /* Red */
  #shortness_breath_symptoms { background-color: #808080;} /* Dark Grey */
  #Headache_symptoms { background-color: #9d37a4;} /* Dark Grey */


  





/* Container for  bars */
.container {
    width: 1000%; /* Full width */
    background-color: white; /* Grey background */
    height: 8%
  }
  

  


.mypick{
    color: #cc4158;;
    padding: 30px;
    text-align: center;
    font-size: large;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;


}
#DatePicker{

    margin-left: 670px;
    background: #cc4158;
      border-radius: 999px;
      box-shadow: #cc4158 0 10px 20px -10px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      opacity: 1;
      outline: 0 solid transparent;
      padding: 8px 18px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: fit-content;
      word-break: break-word;
      border: 0;
    }


   /* Three image containers (use 25% for four, and 50% for two, etc) */
    .column {
      float: left;
      width: 40.33%;
      padding: 50px;
    }
    
    /* Clear floats after image containers */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    .row {
        display: flex;
        padding: 20px;
        margin-left: 20px;

      }
    
      
      .column {
        flex: 33.33%;
        padding: 55px;
      }


      @media screen and (max-width: 500px) {
        .column {
          width: 100%;
        }
      }




  #my-pie-chart-tested{
    border-radius: 50%;
      width: 200px;
      height: 200px;
      padding: 30px;

  }

  #my-pie-chart{
    border-radius: 50%;
      width: 200px;
      height: 200px;
      padding: 30px;

  }


  #my-pie-chart-age{
    border-radius: 50%;
      width: 200px;
      height: 200px;
      padding: 30px;

  }

    

  
  #legenda{
    width: 300px;
    height: 70px;
    background-color:rgb(246, 220, 220);
    padding: 35px;
  }
  .entry {
    display: flex;
    align-items: center;
  }
  .entry-color {
      height: 10px;
      width: 10px;
  }
  .entry-text {
    margin-left: 5px;
  }
  #color-brown{
    background-color: rgb(239, 132, 142);
  }
  #color-black {
    background-color: rgb(149, 209, 222);
  }
  

  
/*ddate picker 
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}*/
