
body {
    background-color: rgb(246, 220, 220);
  }

  h1 {
    color: #c93f60;
    text-align:center;
  }
  h2{color:#cc4158;
  }
  h3{width: 600px;}
  .headofpage{text-align: center;}
/*Wont Disply the picker opption*/
  .toggle,
  [id^="drop"] {
    display: none;
  }
  /* Giving a background-color to the nav container. */
  nav {
    margin: 0;
    padding: 0;
    background-color: rgb(224, 173, 173);
  }
  
  /* Since we'll have the "ul li" "float:left"
   * we need to add a clear after the container. */
  
  nav:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Removing padding, margin and "list-style" from the "ul",
   * and adding "position:reltive" */
  nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }
  /* Positioning the navigation items inline */
  nav ul li {
    margin: 0px;
    display: inline-block;
    background-color: rgb(224, 173, 173);
  }
  /* Styling the links */
  nav a {
    display: block;
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
  }
  nav ul li ul li:hover {
    background: #cc4158;
  }
  /* Background color change on Hover */
  nav a:hover {
    background-color: #bacddd;
  }
  /* Media Queries
  --------------------------------------------- */
  @media all and (max-width: 1000px) {
    #logo {
      display: block;
      padding: 0;
      width: 100%;
      text-align: center;
      float: none;
    }
    .pierow
    {
      align-items: center;
    }
    nav {
      margin: 0;
    }
    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle,
    .menu {
      display: none;
    }
    /* Stylinf the toggle lable */
    .toggle {
      display: block;
      background-color: #cc4158;
      padding: 14px 20px;
      color: #fff;
      font-size: 17px;
      text-decoration: none;
      border: none;
    }
    .toggle:hover {
      background-color: #d56060;
    }
    /* Display Dropdown when clicked on Parent Lable */
    [id^="drop"]:checked + ul {
      display: block;
    }
    /* Change menu item's width to 100% */
    nav ul li {
      display: block;
      width: 100%;
    }
 
  }
 .topnav {
    overflow:hidden;
    background-color: rgb(224, 173, 173);
  }
  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #cc4158;
    color: white;
  }

  
  /*bar chart*/
  .chart-wrap {
    padding-bottom: 150px;
    margin:auto;
    width: 550px;
    height: 300px;
    font-family: sans-serif;
  }


.title{
  text-align: center;
  padding: 30px;
}
  .grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid #aaa;
    background: repeating-linear-gradient(0deg, transparent, transparent 19.5%, rgba(170, 170, 170, 0.7) 20%);
  }
  .grid .bar {
    align-self: flex-end;
    margin: 0 auto;
    border-radius: 3px 3px 0 0;
    position: relative;
  }
  .grid .bar.bar:hover {
    opacity: 0.7;
  }
  .grid .bar::after {
    content: attr(data-name);
    top: -3em;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    transform: rotate(-45deg);
  }
  .grid.horizontal {
    flex-direction: column;
    width: 500px;
    border-bottom: none;
    border-left: 2px solid #aaa;
    background: repeating-linear-gradient(90deg, transparent, transparent 19.5%, rgba(170, 170, 170, 0.7) 20%);
  }
  .grid.horizontal .bar {
    height: 50px;
    width: 3px;
    align-self: flex-start;
    margin: auto 0 auto 0;
    border-radius: 0 3px 3px 0;
  }

  .grid.horizontal .bar::after {
    top: initial;
    left: 100%;
    padding: 0 10px;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    transform: rotate(0deg);
    line-height: 45px;
  }

  
  #cough_symptoms { background-color: #16a26f;} /* Green */
  #Fever_symptoms { background-color: #2787d4;} /* Blue */
  #Sore_Throat_symptoms { background-color: #da3e33;} /* Red */
  #shortness_breath_symptoms { background-color: #eee34c;} /* Dark Grey */
  #Headache_symptoms { background-color: #9d37a4;} /* Dark Grey */


  
.mypick{
    color: #cc4158;;
    padding: 30px;
    text-align: center;
    font-size: large;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
}

#DatePicker{
     background: #cc4158;
      border-radius: 999px;
      box-shadow: #cc4158 0 10px 20px -10px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      opacity: 1;
      outline: 0 solid transparent;
      padding: 8px 18px;
      touch-action: manipulation;
      width: fit-content;
      border: 0;
    }

    .text-center {
      text-align: center;
    }


   /* Three image containers */
    .column {
    padding: 20px;
    margin-left: 130px;
    float: left;
    width: 15%;
    }
    
   



      @media all and (max-width: 1000px) {
        .column {
          width: 100%;
        }
    
      }





  /*Pie for negitive vs positive */
  #my-pie-chart-tested{
    background-image: url(image.png);
    background-repeat:no-repeat	;
    background-position:center;
    border-radius: 50%;
      width: 200px;
      height: 200px;
      padding: 20px;


  }
  
  
  /*Pie for men vs women */
  #my-pie-chart{
    background-image: url(image.png);
    background-repeat:no-repeat	;
    background-position:center;
    border-radius: 50%;
      width: 200px;
      height: 200px;
      padding: 20px;
 

  }

  /*Pie for older vs under age 60 */
  #my-pie-chart-age{
    background-image: url(image.png);
    background-repeat:no-repeat	;
    background-position:center;
    border-radius: 50%;
      width: 200px;
      height: 200px;
      padding: 20px;


  }

  #legenda{
    width: 300px;
    height: 70px;
    background-color:rgb(246, 220, 220);
    padding: 35px;
  }
  .entry {
    display: flex;
    align-items: center;
  }
  .entry-color {
      height: 10px;
      width: 10px;
  }
  .entry-text {
    margin-left: 5px;
  }
  #color-brown{
    background-color: rgb(239, 132, 142);
  }
  #color-black {
    background-color: rgb(149, 209, 222);
  }
  

/*Table for page of sympotomes*/

  table {
    font-family: arial, sans-serif;
    margin-left: 100px;
    padding: 20px;
    margin:auto;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }