
body {
    background-color: rgb(246, 220, 220);
  }

  
  h1 {
    color: navy;
    margin-left: 20px;
  }


  /* Add a black background color to the top navigation */
 .topnav {
    overflow:hidden;
    background-color: rgb(224, 173, 173);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: red;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #cc4158;
    color: white;
  }
  
  


  



  


/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

#cough_symptoms { background-color: #04AA6D;} /* Green */
#Fever_symptoms { background-color: #2196F3;} /* Blue */
#Sore_Throat_symptoms { background-color: #f44336;} /* Red */
#shortness_breath_symptoms { background-color: #808080;} /* Dark Grey */
#Headache_symptoms { background-color: #9d37a4;} /* Dark Grey */